<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <h1>Body Mass Index</h1>
  <div id="app">
    <span>Waga: </span>
    <input v-model="weight"> kg<br>
    <span>Wzrost: </span>
    <input v-model="height"> cm
    <p>Wskaźnik BMI: {{ bmiValue }}</p>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        bmi: '',
        weight: 0,
        height: 0
      },
      computed: {
        bmiValue: function() {
          if(this.weight === 0 || this.height === 0) return "Podaj wzrost i masę ciała"
          return (this.weight / Math.pow((this.height / 100), 2)).toPrecision(4)
        }
      }
    });
  </script>

</body>
</html>